# Python Crash Course

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## Data Types

### Numbers

In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1/2

0.5

In [6]:
2 ** 4

16

In [7]:
2 + 3 * 5 + 5

22

In [8]:
# to specify order
(2+3) * (5+5)

50

In [9]:
5 % 2

1

### Variable Assignment

In [10]:
var = 2

In [11]:
var

2

In [12]:
x = 2
y = 3

In [13]:
z = x + y

In [14]:
z

5

In [15]:
# WE CAN'T START WITH NUMBERS OR SPECIAL CHARACTERS OR PERIOD IN BETWEEN FOR VARIABLE NAMING

### Strings

In [16]:
'Single quotes'

'Single quotes'

In [17]:
"Double quotes"

'Double quotes'

In [18]:
# for wrapping other quotes we need dpuble quotes
"I can't go out"

"I can't go out"

In [19]:
str_var = 'Hello World!!!'

In [20]:
str_var

'Hello World!!!'

### Printing

In [21]:
print(str_var)

Hello World!!!

In [22]:
# STRING FORMATTING
num = 12
name = 'Sam'

In [23]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [24]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is Sam

In [25]:
print(f'My number is {num} and my name is {name}')

My number is 12 and my name is Sam

In [26]:
# INDEXING A STRING
s = 'hello'

In [27]:
print(s[0])

h

In [28]:
print(s[-1]) # last index

o

In [29]:
print(s[0:4]) # slicing

hell

### Lists

In [30]:
[1,2,3]

[1, 2, 3]

In [31]:
['a','b','c']

['a', 'b', 'c']

In [32]:
my_list = ['a','b','c']

In [33]:
my_list.append('d')

In [34]:
my_list

['a', 'b', 'c', 'd']

In [35]:
my_list[0] # index access

'a'

In [36]:
my_list[1:3]  # slicing

['b', 'c']

In [37]:
my_list[0] = 'NEW'  # assign new value
my_list

['NEW', 'b', 'c', 'd']

In [38]:
nested_list = [1,2,3,[2,1,3]]
nested_list[3]

[2, 1, 3]

In [39]:
nested_list[3][2]

3

### Dictionary

In [40]:
d ={'key1':'value','key2':123,'list':[1,2,3], 'dict':{'inner_key':456}}

In [41]:
d['key1']  # accessing using key

'value'

In [42]:
d['dict']['inner_key']

456

### Boolean
- True
- False

### Tuples  - can't modify

In [43]:
tup = (1,2,3)
tup[0]

1

In [44]:
#tup[0] = 4 --> will cause an error

### Set

In [45]:
my_set = {1,2,3,3,3}
my_set

{1, 2, 3}

In [46]:
# change a list to set
set([1,2,3,42,113,342,131,11,1,1,1,1])

{1, 2, 3, 11, 42, 113, 131, 342}

In [47]:
my_set.add(4)

In [48]:
my_set

{1, 2, 3, 4}

## Comparison Operators

In [49]:
1 >2

False

In [50]:
1<2

True

In [51]:
1 == 1

True

In [52]:
1 != 2

True

In [53]:
'hi' == 'hi'

True

## Logical Operators

In [54]:
(1<2) and (2<3)

True

In [55]:
1<2 or 2>3

True

## if-else-elif

In [56]:
num1 = 1
num2 = 2
if (num1<num2):
    print('Less Than')
elif (num1>num2):
    print('Greater Than')
elif (num1==num2):
    print('Equal to')
else:
    print("Learn again...")

Less Than

## Loops

### for loop

In [57]:
seq = [1,2,3,4,5,67,6,4,32]

In [58]:
for num in seq:
    print(num)

1
2
3
4
5
67
6
4
32

### while loop

In [59]:
count = 1
while count<5:
    print(f'count is {count}')
    count += 1

count is 1
count is 2
count is 3
count is 4

## range()

In [60]:
for i in range(5):
    print(i)

0
1
2
3
4

In [61]:
for i in range(3,5):
    print(i)

3
4

In [62]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

## List Comprehension

In [63]:
x = [1,2,3,4]

In [64]:
out = [] # empty list
for num in x:
    out.append(num**3)

In [65]:
out

[1, 8, 27, 64]

In [66]:
# The above code can be transformed into list comprehension
[num**2 for num in x]

[1, 4, 9, 16]

## Function

In [67]:
def my_func(param1):
    print(param1)

In [68]:
my_func('hello')

hello

In [69]:
my_func(1)

1

In [70]:
def return_func(num):
    return num**2

In [71]:
print(return_func(3))

9

In [72]:
def doc_func():
    """
    This is the documentation string.
    It has to be the first line
    """

In [73]:
print(doc_func.__doc__)

    This is the documentation string.
    It has to be the first line

## Map

In [74]:
# map(function, iterable) --> applies a function to each element of iterable
def square_func(var):
    return var**2

In [75]:
seq = [1,2,3,4,5,6]

In [76]:
list(map(square_func,seq))

[1, 4, 9, 16, 25, 36]

## Lambda Expression

In [77]:
def times2(var):return var*2

In [78]:
times2(4)

8

In [79]:
# Equivalent of above using lambda
t = lambda var:var*2
t(4)

8

In [80]:
list(map(lambda num:num**2,seq))

[1, 4, 9, 16, 25, 36]

## Filter

In [81]:
# filter(function,sequence) --> filters the iterable on the boolean condition from the function
list(filter(lambda num : num%2==0,seq))

[2, 4, 6]

## Methods

In [82]:
s = 'hello my name is foo'

In [83]:
s.lower()

'hello my name is foo'

In [84]:
s.upper()

'HELLO MY NAME IS FOO'

In [85]:
s.split()  # split into a list on a whitespace

['hello', 'my', 'name', 'is', 'foo']

In [86]:
d = {'k1':1,2:'value'}

In [87]:
d.keys()

dict_keys(['k1', 2])

In [88]:
d.items()

dict_items([('k1', 1), (2, 'value')])

In [89]:
d.values()

dict_values([1, 'value'])

In [90]:
lst =[1,2,3]

In [91]:
lst.pop(1)

2

In [92]:
'x' in 'WxYZ'

True

In [93]:
x = [(1,2),(3,4),(5,6)]

In [94]:
# TUPLE UNPACKING
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6