## Series

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# CREATE SERIES
labels = ['a','b','c']
my_data =[10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [3]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [6]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [7]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
# CAN HOLD ANY DATA TYPE
pd.Series([1,'2','A'])

0    1
1    2
2    A
dtype: object

In [9]:
# USING INDEX
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan']) 
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [10]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan']) 
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [11]:
ser1['USA']

1

In [12]:
ser1 + ser2   # index based element to element addition

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64